.gome{
    width: 100%;
    background: rgb(170, 0, 9); 
    /* overflow: hidden; */
}
.gome_image{
    position: relative;
    overflow: hidden;
}
.gome_image>img{
    display: block;
    border: 0;
}
.gome_image>b{
    position: absolute;
    padding: 6px;
    top:3px;
    right: 3px;
    display: block;
}
.gome_image>b i{
    display: block;
    background-image: url(../img/ui.png);
    background-position: -60px -466px;
    width: 12px;
    height: 12px;
}
.gome_image>b:hover i{
    background-position: -72px -466px;
}
.gome_image>b:hover{
    background: rgba(0,0,0,0.5);
    cursor: pointer;
}
/* gome_top  顶部 */
.gome_top_body{
    width: 100%;
    background: #f8f8f8;
    border-bottom:1px solid #f3f3f3;
}
.gome_top{
    /* overflow: hidden; */
    height: 30px;
    background: #f8f8f8;
    /* border-bottom:1px solid #f3f3f3; */
}
.gome_top>ul>li{
    list-style: none;
    float: left;
    height: 30px;
    line-height: 28px;
    position: relative;
    /* overflow: hidden; */
}
.gome_top>ul>li>a{
    line-height: 32px;
}
.gome_top .gome_top_yuan{
    margin-right: 12px;
    
}
.gome_top_huiyuan{
    display: inline-block;
    padding: 0 20px 0 10px;
    font-size: 12px;
    height: 29px;
    line-height: 30px;
    border: 1px solid #f8f8f8;
    border-bottom:none;
    position: relative;
}
.gome_top_down{
    width: 290px;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 10px 15px;
    border: 1px solid #e6e6e6;
    /* border-top: 0; */
    background: #fff;
    display: none;
    z-index: 200;
}
.gome_top .gome_top_yuan:hover .gome_top_huiyuan{
    border-color: #e6e6e6;
    background: #fff;
    z-index: 300;
    height: 30px;
}
.gome_top_yuan:hover .gome_top_down{
    display: block;
}
.user_name{
    padding: 5px 0 20px 0;
    overflow: hidden;
}
.user_name strong{
    float: left;
    width: 55px;
    height: 55px;
    background: url(../img/ui.png);
    background-position: 0 -336px;
}
.user_icon {
    padding-top: 15px;
    border-top: 1px solid #f3f3f3;
    position: relative;
}
.user_icon p{
    font-size: 12px;
    line-height: 18px;
}
.user_icon p .user_icon_jub{
    float: right;
    line-height: 18px;
}
.user_prev,.user_next{
    position: absolute;
    width: 16px;
    height: 29px;
    top: 54px;
}
.user_prev{
    background: url(../img/ui.png);
    background-position: -60px -357px;
}
.user_next{
    background: url(../img/ui.png);
    background-position: -75px -357px;
    right: 0;
}
.user_icon_img{
    overflow: hidden;
    margin: 10px 25px 0 25px;
}
.user_icon_img ul{
    width: 1000px;
    height: 70px;
    /* overflow: hidden; */
}
.user_icon_img li{
    float: left;
    width: 80px;
    height: 70px;
    /* overflow: hidden; */
}
.user_icon_img li b{
    display: block;
    height: 40px;
    background: url(../img/user_img.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.user_icon_img li span{
    display: block;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}
.user_name p{
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 12px;
    color: #888;
}
.user_name p span{
    color: #069;
}
.gome_top ul li a{
    font-size: 12px;
    color: #888;
    text-decoration: none;
    font-weight: normal;
}
.gome_top ul li i{
    display: inline-block;
    width: 7px;
    height: 4px;
    background-image: url(../img/ui.png);
    background-position: -62px -433px;
    position: absolute;
    top: 14px;
    right: 8px;
}
.gome_top ul li:hover i{
    background-position: -55px -433px;
}
.gome_top ul li a:hover{
    color: #f5004b;
}
.gome_top_register{
    height: 30px; 
}
.gome_top_register a:nth-child(1){
    margin-right: 10px;
}
.gome_top_register a:nth-child(2) b{
    width: 12px;
    height: 13px;
    display: inline-block;
    background-image: url(../img/ui.png);
    background-position: -145px -1496px;
    margin:-4px 0 0 2px;
    vertical-align: middle;
}
.gome_top_register a:nth-child(2){
    margin-right:10px;
    color: #f5004b; 
}
.gome_top>ul:nth-child(2){
    float: right;
    position: relative;
}
.gome_top_order>li:nth-child(2),.gome_top_order>li:nth-child(3),.gome_top_order>li:nth-child(4),.gome_top_order>li:nth-child(6){
    position: relative;
}
.gome_top_order>li:nth-child(1)>a{
    margin-right: 10px;
}
.gome_top_order li b{
    display: inline-block;
    padding: 0 20px 0 10px;
    font-size: 12px;
    height: 29px;
    line-height: 30px;
    border: 1px solid #f8f8f8;
    border-bottom:none;
    position: relative;
    z-index: 300;
}
.gome_top_order li:hover b{
    border-color: #e6e6e6;
    background: #fff;
    border-bottom:0;
    height: 30px;
}
.gome_top_order li:nth-child(4) em{
    display: inline-block;
    width: 14px;
    height: 14px;
    background:url(../img/kefu.jpg);
    vertical-align: middle;
    margin-top: -1px;
}
.gome_top_order li:nth-child(6) em{
    display: inline-block;
    width: 11px;
    height: 14px;
    background:url(../img/shouji.jpg);
    vertical-align: middle;
    /* margin-right: 5px; */
    margin-top: -1px;
}
/* 我的国美 */
.footprint{
    width: 260px;
    position: absolute;
    top: 30px;
    border: 1px solid #e6e6e6;
    background: #fff;
    display: none;
    z-index: 200;
}
.footprint p:nth-child(1){
    padding:10px 10px 0;
    font-size: 12px;
    color: #888;
    font-weight: bolder;
    line-height: 28px;
}
.footprint p:nth-child(1) span{
    color: #069;
}
.footprint_order{
    margin: 0 10px;
    padding-bottom:9px;
    overflow: hidden;
    border-bottom: 1px solid #f3f3f3;
}
.footprint_order li{
    float: left;
    width: 120px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #888;
}
.footprint_coupon li{
    float: left;
    font-size: 12px;
    color:#888;
    width: 63px;
    padding: 8px 0 10px;
    text-align: center;
    line-height: 19px;
}
.footprint_coupon li a{
    display: block;
    line-height: 14px;
    margin: 5px 0;
    border-right: 1px solid #f3f3f3;
}
.footprint_coupon li:last-child a{
    border: 0;
}
.footprint_coupon li span{
    display: inline-block;
    vertical-align: middle;
    color: #cdcdcd;
    width: 63px;
    height: 24px;
}
.footprint>p:nth-child(4){
    padding: 10px;
    font-size: 12px;
    background: #f8f8f8;
    color: #888;
    clear: both;
    line-height: 20px;
}
.footprint ul:last-child{
    padding:0 0 18px 10px;
    overflow: hidden;
    background: #f8f8f8;
}
.footprint ul:last-child li{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    background-image:url(../img/ui.png);
    background-position: 0 -397px;
}
.gome_top_order li:nth-child(2):hover .footprint{
    display: block;
}
/* 企业采购 */
.caigou{
    position: absolute;
    top: 30px;
    left: -152px;
    padding: 15px;
    border: 1px solid #e6e6e6;
    background: #fff;
    display: none;
    z-index: 200;
}
.caigou p{
    width: 200px;
    height: 200px;
    background-image: url(../img/下载1.jpg);
    /*background-position: 0 -1511px;*/
    background-size: 100% 100%;
}
.gome_top_order li:nth-child(3):hover .caigou{
    display: block;
}
/* 服务中心 */
.Service{
    padding: 10px 15px;
    width: 210px;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    left: 0;
    background: #fff;
    display: none;
    z-index: 200;
}
.Service h1{
    font-size: 12px;
    color: #888;
    line-height: 24px;
}
.Service h1>a.bold{
    font-weight: bold;
}
.Service h2>a.bold{
    font-weight: bold;
}
.Service ul:nth-child(2){
    padding-bottom: 10px;
    height: 48px;
    overflow: hidden;
}
.Service ul li{
    float: left;
    font-size: 12px;
    color: #888;
    width: 33%;
    line-height: 24px;
}
.Service h2{
    clear: both;
    font-size: 12px;
    color: #888;
    line-height: 24px;
}
.Service ul:nth-child(4){
    padding-bottom: 10px;
    height: 48px;
    overflow: hidden;
}
.Service h3{
    clear: both;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #dd00a7;
    font-weight: normal;
}
.Service h3 strong{
    display: inline-block;
    width: 17px;
    height: 15px;
    background-image: url(../img/kefu1.jpg);
    vertical-align: middle;
    margin-right: 3px;
}
.gome_top_order li:nth-child(4):hover .Service{
    display: block;
}
/* 网站导航 */
.web_nav{
    width: 1198px;
    padding: 10px 0;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 30px;
    right: -95px;
    display: none;
    background: #fff;
    z-index: 200;
}
.web_nav dl{
    float: left;
    border-left: 1px solid #f3f3f3;
    padding: 0 15px 0 40px;
    margin:15px 0;
    font-size: 12px;
}
.web_nav dl.none{
    border: none;
}
.web_nav dl dt{
    margin-bottom:14px;
    font-weight: bold;
    line-height: 14px;
    font-size: 14px;
    color: #5e5e5e;
}
.web_nav dl ul{
    float: left;
    width: 75px;
}
.web_nav dl ul li{
    line-height: 24px;
    color: #888;
}
.web_nav dl ul li span{
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-bottom:9px;
    background-image: url(../img/ui.png);
    background-position: 0 -452px;
    vertical-align: middle;
}
.web_nav dl ul li span.hot{
    background-position: -20px -452px;
}
.gome_top_order li:nth-child(5):hover .web_nav{
    display: block;
}
/* 手机国美 */
.shouji{
    background: #fff;
    padding: 15px;
    position: absolute;
    top: 30px;
    right: 0;
    border: 1px solid #e6e6e6;
    display: none;
    z-index: 200;
}
.shouji p{
    background-image:url(../img/下载2.jpg);
    /*background-position: 0 -799px;*/
    background-size: 100% 100%;
    width: 130px;
    height: 150px;
}
.gome_top_order li:nth-child(6):hover .shouji{
    display: block;
}
/* logo和搜索栏 */
.box{
    height: 120px;
    /* overflow: hidden; */
    /* background: yellow; */
    position: relative;
}
.logo{
    float: left;
    margin:32px 10px 0 0;
}
.logo>a{
    display: block;
    width: 125px;
    height: 56px;
    background-image: url(../img/logo8.png);
    background-size: 100% 100%;
}
.box .logo_png{
    float: left;
    width: 100px;
    height: 50px;
    padding-top: 35px;
    margin-left: 10px;
}
.box .search{
    width: 500px;
    /* float: left; */
    /* overflow: hidden; */
    /* margin-left: 140px;
    margin-top: 32px; */
    position: absolute;
    top: 32px;
    left:385px;
}
/* 模拟下拉菜单 */
.drop_down{
    border: 1px solid #dd00a7;
    position: relative;
}
.down_menu {
    width: 63px;
    cursor: pointer;
    /* float: left; */
    position: absolute;
    top: 0;
    left: 0;
}
.drop_down::after{
    content: "";
    width: 0;
    height: 0;
    clear: both;;
    visibility: hidden;
    display: block;
}
.down_menu:hover ul{
    display: block;
}
.drop_down p{
    width: 42px;
    height: 30px;
    border-right: 1px solid #dd00a7;
    /* text-align: center; */
    padding: 0 10px;
    font-size: 14px;
    color: #a5a5a5;	
}
.drop_down p>span{
    line-height: 30px;
    float: left;
}
.drop_down p i{
    display: inline-block;
    width: 11px;
    height: 7px;
    background-image: url(../img/ui.png);
    background-position: -145px -1469px;
    clear: left;
    margin-top: 11px;
    margin-left: 2px;
}
.drop_down ul{
    position: absolute;
    left: -1px;
    top: 31px;
    list-style: none;
    margin: 0;
    border: 1px solid #dd00a7;
    background: #fff;
    /* padding-right:10px; */
    border-top: 0;
    /* text-align: center; */
    z-index: 20;
    display: none;
    cursor: pointer;
}
.drop_down ul.active{
    display: block;
}
.drop_down ul li{
    width: 42px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    color: #a5a5a5;	
    font-size: 14px;
}
.drop_down ul li:hover{
    background-color: #f3f3f3;
}
.drop_down>.ipt{
    float: left;
    margin-left: 63px;
}
.drop_down>.ipt input{
    width: 310px;
    border: none;
    line-height: 20px;
    padding: 5px;
    padding-left:10px;
    outline: none;
    color: #5e5e5e;
}
.Microphone{
    float: left;
    width: 15px;
    height: 20px;
    padding: 5px 0;
    opacity: 0.55;
    margin-right: 3px;
    cursor: pointer;
}
.Microphone img{
    width: 15px;
    height: 20px;
}
.drop_down button{
    float: right;
    width: 90px;
    height: 30px;
    outline: none;
    border: none;
    background: #dd00a7;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}
.wenzi{
    height: 14px;
    line-height: 14px;
    margin-top: 6px;
}
.wenzi a{
    display: inline-block;
    line-height: 14px;
    font-size: 12px;
    text-decoration: none;
    color: #a5a5a5;
    margin-right:4px;
}
.wenzi a:nth-child(1){
    color: #f5004b;
}
.wenzi a:hover{
    color: #f5004b;
}
/* 购物车 */
.cart{
    float: right;
    width: 75px;
    height: 34px;
    position: relative;
    margin-top: 33px;
    padding: 5px 20px 0 45px;
    z-index: 150;
    background: #fff;
}
.cart .shopping{
    color: #5e5e5e;
}
.shopping var>em{
    display: inline-block;
    width: 27px;
    height: 20px;
    background: url(../img/ui.png) -100px -701px;
}
.cart .shopping var{
    font-style: normal;
    position: absolute;
    top: 11px;
    left: 10px;
}
.cart .shopping var span{
    position: absolute;
    top: -18px;
    left: 15px;
    height: 18px;
    line-height: 18px;
    padding: 0 3px;
    min-width: 14px;
    color: #FFF;
    background-color: #A5A5A5;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}
.cart .shopping var span i{
    position: absolute;
    width: 0;
    height: 0;
    border: 4px dashed transparent;
    border-color: transparent transparent transparent #A5A5A5;
    border-right: 0;
    bottom: -4px;
    left: 5px;
}
.cart .shopping>span{
    font-size: 12px;
    color:#5e5e5e;
    line-height: 34px;
}
.shopping>strong{
    position: absolute;
    width: 0;
    height: 0;
    border: 4px dashed transparent;
    border-color: #5E5E5E transparent transparent;
    border-bottom: 0;
    right: 10px;
    top: 19px;
}
.cart:hover strong{
    top: 19px;
    right: 10px;
    font-size: 0;
    line-height: 0;
    border-width: 4px;
    border-color: #5E5E5E;
    border-top-width: 0;
    border-style: dashed;
    border-bottom-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    overflow: hidden;
}
.cart:hover{
    box-shadow: 0 -9px 9px transparent, -9px -9px 9px rgba(0,0,0,.03), 7px -6px 9px rgba(0,0,0,.03);
}
.cart:hover .cart_go{
    display: block;
}
.cart_go{
    width: 280px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    right: 0;
    top: 34px;
    background: #fff;
    box-shadow: 0 0 18px rgba(0,0,0,.09);
    z-index: -1;
    display: none;
    font-size: 12px;
    text-align: center;
}
.cart_go a{
    line-height: 100px;
    text-decoration: underline;
    color: #5e5e5e;
}